* {
  margin: 0px;
  padding: 0px; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

header {
  background-color: burlywood;
  font-size: 2rem; }

div div div iframe, div button div iframe, div div button iframe, div button button iframe {
  margin: 1rem;
  padding: 3rem; }

.gradient {
  background-image: linear-gradient(burlywood, chocolate); }

.imgMain img {
  width: 50%;
  height: auto;
  position: sticky; }

h2 {
  margin: 3rem;
  padding: 2rem;
  background-color: bisque; }

.card {
  border-radius: 3rem;
  margin: 1rem;
  padding: 1rem; }

.card {
  border-radius: 3rem;
  margin: 1rem;
  padding: 1rem; }

div, div button {
  font-size: 2rem; }

h5, a {
  font-size: 2.5rem; }

h4 {
  margin: 3rem;
  padding: 1rem; }

h5, a {
  font-size: 1.5rem; }

form {
  display: inline-flex; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.animation {
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-duration: 10s; }

.transition {
  width: 150px;
  transition: width 2s; }

.transition:hover {
  width: 200px; }

h5, a {
  font-size: 1.5rem; }

div, div button {
  font-size: 2rem; }

/* EXTENDS */
div button {
  font-family: tahoma; }

footer {
  background-color: burlywood;
  overflow: auto; }

footer ul li {
  display: inline;
  font-size: 10rem; }

.bi-facebook {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff; }
  .bi-facebook:hover {
    color: #3b5998; }

.bi-instagram {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff; }
  .bi-instagram:hover {
    color: #8a3ab9; }

.bi-twitter {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff; }
  .bi-twitter:hover {
    color: #1899e4; }
