* {
  margin: 0px;
  padding: 0px; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

header {
  background-color: burlywood;
  font-size: 2rem; }

div div div iframe {
  margin: 1rem;
  padding: 3rem; }

.gradient {
  background-image: linear-gradient(burlywood, chocolate); }

.imgMain img {
  width: 50%;
  height: auto;
  position: sticky; }

h2 {
  margin: 3rem;
  padding: 2rem;
  background-color: bisque; }

.card {
  border-radius: 3rem;
  margin: 1rem;
  padding: 1rem; }

.card {
  border-radius: 3rem;
  margin: 1rem;
  padding: 1rem; }

div {
  font-size: 2rem; }

h5 {
  font-size: 2.5rem; }

h4 {
  margin: 3rem;
  padding: 1rem; }

h5 {
  font-size: 1.5rem; }

form {
  display: inline-flex; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.animation {
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-duration: 10s; }

.transition {
  width: 150px;
  transition: width 2s; }

.transition:hover {
  width: 200px; }

h5 {
  font-size: 2.5rem; }

div {
  font-size: 2rem; }

div button {
  font-size: 2rem; }

a {
  font-size: 1.5rem; }

footer {
  background-color: burlywood;
  overflow: auto; }

footer ul li {
  display: inline;
  font-size: 10rem; }
