h4 {
    margin: 3rem;
    padding: 1rem;
}

h5{
    font-size: 1.5rem;
}

@keyframes aparecer{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.animation{
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-duration: 10s;
}

/*main{
    div{
        background-color:  map-get($coloresFondo, color1);
    }
}

main{
    form{
        background-color: map-get($coloresFondo, color2);
    }
}

/*MAPA
$coloresFondo: (
    color1: #ffd2ae
    color2:#fff1a3
); */