/*
REMPLAZO POR MAPA
$colorPrimario: burlywood;
$colorSecundario: chocolate;
$colorTerciario: bisque;
$colorCuaternario: #FFEEE0;
$insta: #8a3ab9;
$tw: #1899e4;
$fb: #3b5998;*/

$paletaColores: (
    colorPrimario: burlywood
    colorSecundario: chocolate
    colorTerciario: bisque
    colorCuaternario: #FFEEE0
    insta: #8a3ab9
    tw: #1899e4
    fb: #3b5998
);