header{
    background-color: burlywood;
    font-size: 2rem;
}
div{
    div{
        div{
            iframe {
                margin: 1rem;
                padding: 3rem;
            }
        }
    }
}

.gradient{
background-image: linear-gradient(burlywood,chocolate);
}

.imgMain{
    img{
        width: 50%; height: auto;
        position:sticky  
}
}